<a href="/post"> <button type="button" class="btn btn-secondary">Add a New Post</button></a> 
<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{post.id}}" class="tag">{{post.title}}</a>
      </div>
      <div class="meta">
        Comments Created By {{post.user.username}} on
        {{ format_date post.created_at}}
        |
        <p>{{post.comments.length}} comment(s)</p>
      </div>
    </article>
  </li>
  {{/each}}
 
</ol>