<article class="post">
      <div>
        <a href="/post/{{post.id}}" target="_blank" class="title">{{post.title}}</a>
        <span id="body">({{post.body}})</span>
      </div>
      <div class="meta">
        This Post created by {{post.user.username}} on
        {{post.created_at}}
        |
        <p>{{post.comments.length}} comment(s)</p>
        {{#each post.comments}}
        <p>{{comment_text}}</p>
        {{/each}}
      </div>
      
      <a href="/post/edit/{{post.id}}" class="btn btn-primary">Edit</a>
    </article>
   