<article class="post">
    <div>
      <a href="/post/{{post.id}}" target="_blank" class="title">{{post.title}}</a>
      <span id="body">({{post.body}})</span>
    </div>
    <div class="meta">
      This Post created by {{post.user.username}} on
      {{post.created_at}}
      |
      <p>{{post.comments.length}} comment(s)</p>
      {{#each post.comments}}
      <p>{{comment_text}}</p>
      {{/each}}
    </div>
    {{#if currentUser}}
    <a href="/post/edit/{{post.id}}" class="btn btn-primary">Edit</a>
    {{/if}}
      <button type="button" class="btn btn-primary" id="comment-btn">Add the comment</button>
      <div class="card hide" id="formcard">
        <div class="card-header">
          <h2>Add a Comment</h2>
        </div>
        <form id="new-comment-form" class="card-body">
          <div>
            <input type="hidden" name="post-id" value={{post.id}}>
          </div>
          <div>
            <label for="comment-text" class="form-label">Body</label>
            <textarea id="comment-text" name="comment-body">
           </textarea>
          </div>
          <button type="submit" id="comment-submit-btn" class="btn">Submit</button>
        </form>
      </div>
  </article>
<script src="/javascript/comment.js"></script>

   