<article class="post">
      <div class="title">
        <a href="/post/{{post.id}}" target="_blank">{{post.title}}</a>
        <span>({{post.body}})</span>
      </div>
      <div class="meta">
        This Post created by {{post.user.username}} on
        {{post.created_at}}
        |
        <p>{{post.comments.length}} comment(s)</p>
        {{#each post.comments}}
        <p>{{comment_text}}</p>
        {{/each}}
      </div>
      <button id="edit"> Edit</button>
      <button id="delete"> Delete</button>
    </article>
    <script src="/javascript/edit-post.js"></script>